$color1:rgb(44, 43, 43);
$color2: white;
$color3: #e94560;
$color4: black;
$color5: #f6f9fc;
$color6: #15aabf;

#container3{
    background-color: $color5;
    padding: 10px 50px;
    .dealsHeading{
        i{
            color: $color3;
        }
        font-size: 2.5rem;
        color: $color1;
    }
    .dissec{
        color: $color2;
        background-color: $color3;
        border-radius: 8px;
        font-size: 1.3rem;
        padding: 5px 8px;
    }
    .dealsContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        display: grid;
        .itemInfo{
            width: 100%;
            border-radius: 1px;
            img{
                width: 45%
            }
            .img1{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .cards{
                border-radius: 5px;
                box-shadow: 0px 0px 5px 5px #dad9d9;
                height: 350px;
                margin: 10px;
                padding: 10px 10px;
            }
            .cards:hover{
                box-shadow: none;
                transition-duration: 0.5s;
                transition-delay: 1s;
            }
        }
        p{
            color: $color1;
            font-size: 1.5rem;
            i{
                color: $color3;
            }
        }
        .fil{
            color: yellow;
        }
    }
    .btn2{
        color: $color2;
        background-color: $color6;
        border: 2px solid $color5;
        border-radius: 3px;
        text-decoration: none;
        padding: 5px 10px;
        font-size: 1.5rem;
        margin: 10px 0px;
    }
    .btn2:hover{
        background-color: $color2;
        color: $color4;
        border: 2px solid $color3;
        transition-duration: 2s;
        transition-delay: 0.5s;
    }
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    #container3{
        .dealsContainer{
            grid-template-columns: 1fr ;
        }
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    #container3{
        .dealsContainer{
            grid-template-columns: 1fr 1fr;
        }
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    #container3{
        .dealsContainer{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    #container3{
        .dealsContainer{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    #container3{
        .dealsContainer{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
 } 